@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #1e293b; /* Dark Slate Gray */
  background-image: linear-gradient(19deg, #1e293b 0%, #3b82f6 100%); /* Gray to Dark Blue */
}

body.greenScreen {
  background-color: #0f172a; /* Darker Navy */
  background-image: none;
}
